.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg");
}

.form {
  width: 300px;
}

.input {
  color: rgba(0, 0, 0, 0.25);
  width: 100%;
}

.button {
  width: 100%;
}
